<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Godel Technologies">
    <title>Music Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="store-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted h3" href="/"><i class="fas fa-headphones-alt"></i></a>
                </div>
                <div class="col-4 text-center">
                    <a class="store-header-logo text-dark" href="/">Music Store</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    @if (Context.Request.IsAuthenticated && Context.User != null)
                    {
                        using (Html.BeginForm("SignOut", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <nav class="navbar navbar-expand-lg navbar-light">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Context.User.Identity.Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="@Url.Action("Import", "Dashboard")">Dashboard</a>
                                            <div class="dropdown-divider"></div>
                                            <button class="btn btn-link dropdown-item" type="submit">Sign out</button>
                                        </div>
                                    </li>
                                </ul>
                            </nav>


                            @*<span class="welcome-name">Welcome</span>
                                <a class="welcome-name">@Context.User.Identity.Name</a>
                                <button class="btn btn-sm btn-outline-secondary" type="submit">Sign out</button>*@
                        }
                    }
                    else
                    {
                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("SignIn", "Account")">Sign in</a>
                    }
                </div>
            </div>
        </header>

        @Html.Action("Menu", "Genre")

        @RenderBody()

        <footer class="container">
            <p>© OWASP. GODEL TECHNOLOGIES 2019</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
